<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
            Hola ¿Cómo estás?
            Si estás viendo esta página te cuento que la uso como “Portfolio” para que mires mi proyecto en el cual estas navegando y los demás proyectos que tengo en mente en la pestaña PROYECTOS, si MUCHO CODIGO, pero me divierte.<br>
            <b>Sobre mí</b>: Tengo 23 años y hace poco me di cuenta y descubrí que me apasiona la programación, actualmente estoy estudiando por cursos online con la aplicación Udemy de desarrollador Frontend y backend. Estoy por empezar la Tecnicatura de Desarrollador Web en la UNLAM (Universidad Nacional De La Matanza).<br> 
            Echa un vistazo y espero que te guste. Saludos!
            
    </p>

</article>
